QRscanner.json
[{"id":"fea1bd61.f5c9a","type":"tab","label":"Camera Test","disabled":false,"info":""},{"id":"7959f266.3e7cbc","type":"http in","z":"fea1bd61.f5c9a","name":"Coursework Test","url":"/cameratest","method":"get","upload":false,"swaggerDoc":"","x":340,"y":220,"wires":[["3f11193.e4b9ee6"]]},{"id":"b3dcd318.7463c","type":"http response","z":"fea1bd61.f5c9a","name":"","statusCode":"","headers":{},"x":610,"y":220,"wires":[]},{"id":"3f11193.e4b9ee6","type":"template","z":"fea1bd61.f5c9a","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"\n<html>\n\n<div>\n<style>\n#preview{\n   width:500px;\n   height: 500px;\n}\n</style>\n<video id=\"preview\"></video>\n</div>\n<script src=\"https://rawgit.com/schmich/instascan-builds/master/instascan.min.js\"></script>\n<script type=\"text/javascript\">\n\n    var scanner = new Instascan.Scanner({ video: document.getElementById('preview'), scanPeriod: 5, mirror: false });\n    scanner.addListener('scan',function(content){\n        alert(content);\n        //window.location.href=content;\n    });\n    \n    Instascan.Camera.getCameras().then(function (cameras){\n        scanner.start(cameras[1]);\n\n\n    }).catch(function(e){\n        console.error(e);\n        alert(e);\n    });\n</script>\n\n</html>","output":"str","x":490,"y":220,"wires":[["b3dcd318.7463c"]]}]
